<!DOCTYPE html>
<html>
<head>
    <title>Movie Details</title>
    <link rel='stylesheet' href='/stylesheets/movie-details.css' />
</head>
<body>
    <% include partials/header.ejs %>
    <h2 class="movie-title"><%= decodeURIComponent(movieTitle) %></h2>

    <div class="movie-hero-container">
        <div>
            <img src="https://image.tmdb.org/t/p/w500/<%= decodeURIComponent(posterPath) %>" alt="<%= decodeURIComponent(movieTitle) %> Poster" class="movie-poster">
        </div>
       

        <div class="movie-hero-text">
            <div>
                    <p class="movie-overview"><%= decodeURIComponent(movieOverview) %></p>
                    <p class="detail"><strong>Release Date:</strong> <span class="release-date"><%= releaseDate %></span></p>
                    <p class="detail"><strong>Genre:</strong> <span class="genre"><%= genre %></span></p>
                    <p class="detail"><strong>Rating:</strong> <span class="rating"><%= rating %></span></p>
                    <p class="detail"><strong>Runtime:</strong> <span class="runtime"><%= runtime %> minutes</span></p>
            </div>

            <div>
                <h3 class="section-title">Cast</h3>
                <ul class="cast-list">
                  <% cast.slice(0, 5).forEach(actor => { %>
                    <li><span class="actor-name"><%= actor.name %></span> as <span class="character-name"><%= actor.character %></span></li>
                  <% }) %>
                </ul>
            </div>
            <div id="transactionStatus" class="text-center"></div>
            <button class="btn btn-primary" onClick="handlePurchase('${movie.id}', '${movie.title}', '${movie.overview}', '${movie.poster_path}')">0.1 Sepolia </button>
        </div>
       
    </div>








    <h3 class="section-title text-center">Trailers</h3>
    
        <ul class="trailer-list section-trailers">
            <% trailers.forEach(trailer => { %>
                <li><a href="https://www.youtube.com/watch?v=<%= trailer.key %>" target="_blank" class="trailer-link"><%= trailer.name %></a></li>
            <% }) %>
            </ul>

   









    <% if (recommendations.length > 0) { %>
        <div>
          <h3 class="section-title text-center">Recommendations</h3>
          <div class="recommendations-container">
            <% recommendations.slice(0, 8).forEach(recommendation => { %>
              <div class="recommendation">
                <img src="https://image.tmdb.org/t/p/w500/<%= recommendation.poster_path %>" alt="<%= recommendation.title %> Poster" class="recommendation-poster">
                <p class="recommendation-title"><%= recommendation.title %></p>
              </div>
            <% }) %>
          </div>
        </div>
      <% } %>
      
 

    <script src="/javascripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script>
</body>
</html>
